@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
   
    @font-face {
        font-family: 'android';
        src: url(../fontes/idroid.otf) format('opentype');
        font-weight: normal;
    
    }


   :root{
     --cor0:#c5ebd6;
     --cor01:#83e1ad;
     --cor02:#3ddc84;
     --cor03:#2fa866;
     --cor04:#1a5c37;
     --cor04:#063d1e;
    --fonte-padrao:arial,verdana,helvetica,sans-serif;
    --fonte-destaque:font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    --fonte-android:'android',cursive;
   }
   *{
    margin: 0px;
    padding: 0px;
   }
body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1f517';
}


header{
    background-image: linear-gradient(to bottom,var(--cor03), var(--cor04));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header > h1{
    color: #e4ebe7;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgba(86, 11, 11, 0.536);
   
}
header > p{
    font-family: var(--fonte-padrao);

    font-size: .95em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px rgba(86, 11, 11, 0.536);


}
nav{
    background-color: #012a13f3;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.29);
    
}
nav >a {
    color: rgba(223, 168, 15, 0.802);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
    font-size: 15px;
   
}
nav >:hover{
    background-color: #3ddc84;
    color: #063d1e;
    box-shadow: 2px 1px 1px 1px black;
}


main{
    
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
  
}

main h1{
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-size: 1.8em;
   
}
main h2 {
        font-family: var(--fonte-android);
        color: #087437e0;
        font-size: 1.3em;
        font-weight: normal;
        background-image: linear-gradient(to right, var(--cor01),transparent);
        text-indent: 8px;


}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;

}
main strong{
    color: #ae7518;
    font-weight: bold;
   padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: #05873d;
    background-color: #a3eac3;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: rgb(220, 135, 25);
}

main img{

    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: #063d1e;
    padding: 20px;
    margin: 0px -20px 30px;
    padding-bottom: 58.5%;
    position: relative;
   

}
div.video > iframe{
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
}
aside{
    background-color: #68eda1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}
aside > h3{ 
    background-color: #265f3f;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
    color: #c5cf10;
}